<%= form_with model: task do |f| %>
  <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>
  <div class="mb-3">
      <%= f.label :details %>
      <%= f.text_field :details %>
  </div>
  <div class="mb-3 form-check">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
  </div>
  <%= f.submit %>
<% end %>
